/* login.css */
.login-container {
    font-family: Arial, sans-serif;
    background: url('https://i.pinimg.com/originals/40/7d/4a/407d4a26f8e5b4568a68f9129d0c6686.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-box {
    background-color: #ffffffad;
    border-radius: 8px;
    padding: 40px;
    width: 300px;
}

.login-box h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.login-box label {
    
    text-align: center;
    font-size: 14px;
    color: #333;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #bd0c1e;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.login-button:hover {
    background-color: #a73b44;
}

.footer {
    margin-top: 20px;
    text-align: center;
}

.footer p {
    font-size: 14px;
}

.footer a {
    text-decoration: none;
    color: #bd0c1e;
}

.footer a:hover {
    text-decoration: underline;
}
